CREATE DATABASE [PruebaTecnica]
GO
USE [PruebaTecnica]
GO
/****** Object:  StoredProcedure [dbo].[EmployeeAdd]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeeAdd]
@JoiningYear int, 
@PaymentTier tinyint,
@Age int,
@EverBenched varchar(3),
@Experience tinyint,
@LeaveOrNot bit,
@IdCity int,
@IdEducation int,
@IdGender int
AS
INSERT INTO Employee 
(JoiningYear, PaymentTier, Age, EverBenched,Experience,LeaveOrNot,IdCity,IdEducation,IdGender) 
VALUES (@JoiningYear,@PaymentTier,@Age,@EverBenched,@Experience,@LeaveOrNot,@IdCity,@IdEducation, @IdGender)

GO
/****** Object:  StoredProcedure [dbo].[EmployeeAverageAgeByCity]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EmployeeAverageAgeByCity]
AS
BEGIN
    SELECT 
        City.Name AS City,
        AVG(CAST(Employee.Age AS DECIMAL(5,2))) AS AverageAge
    FROM Employee
    INNER JOIN City ON Employee.IdCity = City.IdCity
    GROUP BY City.Name
    ORDER BY AverageAge DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[EmployeeCity]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EmployeeCity]

AS

BEGIN

    SELECT 

        City.Name AS City,

        COUNT(Employee.IdEmployee) AS TotalEmployees

    FROM Employee

    INNER JOIN City ON Employee.IdCity = City.IdCity

    GROUP BY City.Name

    ORDER BY TotalEmployees DESC;

END


GO
/****** Object:  StoredProcedure [dbo].[EmployeeEducation]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[EmployeeEducation]
AS
BEGIN
    SELECT 
        Education.Name AS Education,
        COUNT(Employee.IdEmployee) AS TotalEmployees
    FROM Employee
    INNER JOIN Education ON Employee.IdEducation = Education.IdEducation
    GROUP BY Education.Name
    ORDER BY Education.Name;
END

GO
/****** Object:  StoredProcedure [dbo].[EmployeeExperienceTier]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeeExperienceTier]
AS
BEGIN
    SELECT 
        Employee.PaymentTier,
        AVG(CAST(Employee.Experience AS DECIMAL(5,2))) AS AvgExperience,
        COUNT(Employee.IdEmployee) AS TotalEmployees
    FROM Employee
    GROUP BY Employee.PaymentTier
    ORDER BY Employee.PaymentTier;
END
GO
/****** Object:  StoredProcedure [dbo].[EmployeeGender]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeeGender]
AS
BEGIN
    SELECT 
        Gender.Name AS Gender,
        COUNT(Employee.IdEmployee) AS TotalEmployees
    FROM Employee
    INNER JOIN Gender ON Employee.IdGender = Gender.IdGender
    GROUP BY Gender.Name
    ORDER BY Gender.Name;
END

GO
/****** Object:  StoredProcedure [dbo].[EmployeeGetAll]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeeGetAll]
    @JoiningYear VARCHAR(10) = NULL, 
    @PaymentTier TINYINT = NULL,
    @Age VARCHAR(10) = NULL,
    @EverBenched VARCHAR(3) = NULL,
    @Experience TINYINT = NULL,
    @LeaveOrNot BIT = NULL,
    @IdCity INT = 0,
    @IdEducation INT = 0,
    @IdGender INT = 0
AS
BEGIN
    SELECT 
        E.IdEmployee,
        E.JoiningYear,
        E.PaymentTier,
        E.Age,
        E.EverBenched,
        E.Experience,
        E.LeaveOrNot,
        E.IdCity,
        C.Name AS CityName,         
        E.IdEducation,
        ED.Name AS EducationName,  
        E.IdGender,
        G.Name AS GenderName        
    FROM Employee E
    INNER JOIN City C ON E.IdCity = C.IdCity
    INNER JOIN Education ED ON E.IdEducation = ED.IdEducation
    INNER JOIN Gender G ON E.IdGender = G.IdGender
    WHERE 
        (@JoiningYear IS NULL OR CAST(E.JoiningYear AS VARCHAR) LIKE '%' + @JoiningYear + '%') AND
        (@PaymentTier IS NULL OR E.PaymentTier = @PaymentTier) AND
        (@Age IS NULL OR CAST(E.Age AS VARCHAR) LIKE '%' + @Age + '%') AND
        (@EverBenched IS NULL OR E.EverBenched = @EverBenched) AND
        (@Experience IS NULL OR E.Experience = @Experience) AND
        (@LeaveOrNot IS NULL OR E.LeaveOrNot = @LeaveOrNot) AND
        (@IdCity = 0 OR E.IdCity = @IdCity) AND
        (@IdEducation = 0 OR E.IdEducation = @IdEducation) AND
        (@IdGender = 0 OR E.IdGender = @IdGender)
END;
GO
/****** Object:  StoredProcedure [dbo].[EmployeesBenched]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeesBenched] --'No'
@EverBenched VARCHAR(5)
AS
BEGIN
    SELECT 
        Employee.IdEmployee,
        Employee.JoiningYear,
        Employee.Experience,
        City.Name as CityName,
        Education.Name as EducationName,
        Gender.Name as GenderName
    FROM Employee
    INNER JOIN City ON Employee.IdCity = City.IdCity
    INNER JOIN Education ON Employee.IdEducation = Education.IdEducation
    INNER JOIN Gender ON Employee.IdGender = Gender.IdGender
    WHERE Employee.EverBenched = @EverBenched
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByEmail] --'mich@gmail.com'
@Email VARCHAR(250)
AS
SELECT 
Usuario.UserName,
Usuario.Password,
Usuario.Email,
Rol.Name AS RolName
FROM Usuario 
INNER JOIN Rol ON Usuario.IdRol = Rol.IdRol
WHERE Usuario.Email LIKE @Email
GO
/****** Object:  StoredProcedure [dbo].[LeavePrediction]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LeavePrediction]
AS
BEGIN
   SELECT 
        AVG(CAST(Employee.LeaveOrNot AS DECIMAL(5,2))) * 100 AS LeavePercentage
    FROM Employee;
END
GO
/****** Object:  Table [dbo].[City]    Script Date: 10/8/2025 11:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[IdCity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Education]    Script Date: 10/8/2025 11:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Education](
	[IdEducation] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEducation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/8/2025 11:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[IdEmployee] [int] IDENTITY(1,1) NOT NULL,
	[JoiningYear] [int] NULL,
	[PaymentTier] [tinyint] NOT NULL,
	[Age] [int] NULL,
	[EverBenched] [varchar](3) NOT NULL,
	[Experience] [tinyint] NOT NULL,
	[LeaveOrNot] [bit] NOT NULL,
	[IdCity] [int] NOT NULL,
	[IdEducation] [int] NOT NULL,
	[IdGender] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 10/8/2025 11:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gender](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 10/8/2025 11:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/8/2025 11:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdEmployee] [int] NOT NULL,
	[Email] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([IdCity], [Name]) VALUES (1, N'Bangalore')
INSERT [dbo].[City] ([IdCity], [Name]) VALUES (2, N'New Delhi')
INSERT [dbo].[City] ([IdCity], [Name]) VALUES (3, N'Pune')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([IdEducation], [Name]) VALUES (1, N'Bachelors')
INSERT [dbo].[Education] ([IdEducation], [Name]) VALUES (2, N'Masters')
INSERT [dbo].[Education] ([IdEducation], [Name]) VALUES (3, N'PHD')
SET IDENTITY_INSERT [dbo].[Education] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([IdEmployee], [JoiningYear], [PaymentTier], [Age], [EverBenched], [Experience], [LeaveOrNot], [IdCity], [IdEducation], [IdGender]) VALUES (2, 2017, 3, 34, N'No', 0, 0, 1, 1, 1)
INSERT [dbo].[Employee] ([IdEmployee], [JoiningYear], [PaymentTier], [Age], [EverBenched], [Experience], [LeaveOrNot], [IdCity], [IdEducation], [IdGender]) VALUES (3, 2013, 1, 28, N'No', 3, 1, 3, 1, 2)
INSERT [dbo].[Employee] ([IdEmployee], [JoiningYear], [PaymentTier], [Age], [EverBenched], [Experience], [LeaveOrNot], [IdCity], [IdEducation], [IdGender]) VALUES (4, 2014, 3, 38, N'No', 2, 0, 2, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([IdGender], [Name]) VALUES (1, N'Male')
INSERT [dbo].[Gender] ([IdGender], [Name]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[Gender] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Name]) VALUES (1, N'RRHH')
INSERT [dbo].[Rol] ([IdRol], [Name]) VALUES (2, N'Analista')
INSERT [dbo].[Rol] ([IdRol], [Name]) VALUES (3, N'Gerente')
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UserId], [UserName], [Password], [IdRol], [IdEmployee], [Email]) VALUES (1, N'Mich', N'Welcome01', 2, 4655, N'mich@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Usuario__C9F28456F7FC68DC]    Script Date: 10/8/2025 11:00:43 AM ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([IdCity])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([IdEducation])
REFERENCES [dbo].[Education] ([IdEducation])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([IdGender])
REFERENCES [dbo].[Gender] ([IdGender])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([IdEmployee])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
